@charset "utf-8";
/* CSS Document */
/* 演示页面CSS样式 */
img {border:none}
h1 {margin:0; padding:0; font-size:18px}
#dtit a,
.dtit2 a {color:#f00}
body{font-size:12px;font-family:Arial, '微软雅黑'; margin:0}
#dtit {margin-bottom:10px;width:auto; height:34px; line-height:34px; background-color:#eee; border-bottom:solid 1px #ccc; font-size:14px; padding:0 20px}
#demotit {width:auto; height:30px; line-height:30px; text-align:center; margin:0 auto 10px; border-bottom:solid 1px #CCC}
#demotit span {width:100px; height:30px; margin:0 auto; background-color:#EEE; display:block}
.ad {width:980px; height:auto; overflow:hidden; margin:0 auto 10px; margin-top:10px}
/*广告2不再使用*/
.ad2 {width:980px; height:auto; overflow:hidden; margin:0 auto 10px; margin-top:10px; border-top:solid 1px #CCC; padding-top:5PX}
.democon {width:100%; height:auto; overflow:hidden; clear:both}
a#guanbi {height: 34px; float: right; color: #000; font-weight: bold;font-size: 20px; text-decoration: none; line-height: 34px;}