<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--等价于dao接口的实现 namespace必须和接口的类路径一样 -->
<mapper namespace="ssm.dao.MessageDao">
	<insert id="insert" parameterType="ssm.bean.Message">
		insert into message(houseid,title,content,isread,sdate) 
			values(#{houseid},#{title},#{content},#{isread},now());
	</insert>
	<select id="getList" parameterType="map" resultType="ssm.bean.Message">
		select * from message where houseid=#{houseid} and isread=#{isread} limit #{start},#{length}
	</select>
	<select id="getCount" parameterType="map" resultType="integer">
		select count(*) from message where houseid=#{houseid} and isread=#{isread}
	</select>
	<update id="updateById" parameterType="ssm.bean.Message">
		update message set isread=1 where id=#{id}
	</update>
</mapper>